@using X.PagedList;
@using X.PagedList.Mvc.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IPagedList<_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Yonetim>

@{
    ViewData["Title"] = "Yönetimdeki Kişiler";
}

<br />
<h2>Yönetimdeki Kişiler</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-danger fa fa-list-alt "> Yönetim Kişisi Ekle</a>
</p>
<div style="display:inline-block;vertical-align:middle;" class="page-count">
    @*Ortaya Çekemedim*@

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }),
   new X.PagedList.Web.Common.PagedListRenderOptions
   {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" },
       Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
       LinkToFirstPageFormat = "<< İlk",
       LinkToPreviousPageFormat = "< Önceki",
       LinkToNextPageFormat = "Sonraki >",
       LinkToLastPageFormat = "Son >>"
   })
</div>
<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    Görevi
                </th>
                <th>
                    Fakülte
                </th>
                <th>
                    Bölüm
                </th>
                <th>
                    Enstitü
                </th>
                <th>
                    Adı
                </th>
                <th>
                    Soyadı
                </th>
                <th>
                    Ünvan
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefon Numarası
                </th>

                <th>
                    Bölüm Dalı
                </th>
                <th>
                    Bölüm Görevi
                </th>
                <th>
                    FotografUrl
                </th>
                <th>
                    Aciklama1
                </th>
                <th>
                    Aciklama2
                </th>
                <th>
                    Aciklama3
                </th>
                <th>
                    Aciklama4
                </th>
                <th>
                    Aciklama5
                </th>
                <th>
                    Yayinlar1
                </th>
                <th>
                    Yayinlar2
                </th>
                <th>
                    Yayinlar3
                </th>
                <th>
                    Yayinlar4
                </th>
                <th>
                    Yayinlar5
                </th>
                <th>
                    Yayinlar6
                </th>
                <th>
                    Yayinlar7
                </th>
                <th>
                    Yayinlar8
                </th>
                <th>
                    Yayinlar19
                </th>
                <th>
                    Yayinlar10
                </th>
                <th>
                    Yayinlar11
                </th>
                <th>
                    Yayinlar12
                </th>
                <th>Güncelle</th>
                <th>Detay</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.YonetimKategori.Gorevi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fakulte.FakulteAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bolum.BolumAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unvan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BolumDali)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BolumGorevi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FotografUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar6)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar8)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar9)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar11)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yayinlar12)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-default fas fa-edit   guncellemebuton" style="border: 2px solid green;"> Güncelle</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn  btn-default fas fa-info detaylamabuton" style="border: 2px solid #39ded8;"> Detay</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-default fas fa-trash-alt silmebuton" style="border: 2px solid red;"> Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align:center;" aling="center">
        @*Ortaya Çekemedim*@
        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }),
       new X.PagedList.Web.Common.PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" },
           Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
           LinkToFirstPageFormat = "<< İlk",
           LinkToPreviousPageFormat = "< Önceki",
           LinkToNextPageFormat = "Sonraki >",
           LinkToLastPageFormat = "Son >>"

       })

    </div>
</div>
<style>
    .guncellemebuton {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: #00ff21;
    }






        .guncellemebuton:hover {
            background-color: #851111;
            color: white;
        }

    .detaylamabuton {
        -webkit-transition-duration: 0.4s;
        color: #39ded8;
        transition-duration: 0.4s;
    }

        .detaylamabuton:hover {
            background-color: #1e4e4c;
            color: white;
        }

    .silmebuton {
        -webkit-transition-duration: 0.4s;
        color: red;
        transition-duration: 0.4s;
    }

        .silmebuton:hover {
            background-color: red;
            color: white;
        }
</style>
