@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.BolumGenelBilgileri>

@{
    ViewData["Title"] = "Bolum Genel Bilgileri";
}

<br />
<h2>Bölüm Genel Bilgiler</h2>
<br />

<p>
    <a asp-action="Create" class="btn btn-danger bi bi-megaphone-fill "> Bölüm Genel Bilgisi Ekle</a>-
</p>
<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bolum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BolognaSureciLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email3)
                </th>
                <th>Güncelle</th>
                <th>Detay</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bolum.BolumAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama11)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BolognaSureciLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email3)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-default fas fa-edit   guncellemebuton" style="border: 2px solid green;"> Güncelle</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn  btn-default fas fa-info detaylamabuton" style="border: 2px solid #39ded8;"> Detay</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-default fas fa-trash-alt silmebuton" style="border: 2px solid red;"> Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .guncellemebuton {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: #00ff21;
    }

        .guncellemebuton:hover {
            background-color: #851111;
            color: white;
        }

    .detaylamabuton {
        -webkit-transition-duration: 0.4s;
        color: #39ded8;
        transition-duration: 0.4s;
    }

        .detaylamabuton:hover {
            background-color: #1e4e4c;
            color: white;
        }

    .silmebuton {
        -webkit-transition-duration: 0.4s;
        color: red;
        transition-duration: 0.4s;
    }

        .silmebuton:hover {
            background-color: red;
            color: white;
        }
</style>