@model IEnumerable<_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.ButceBilgileri>

@{
    ViewData["Title"] = "Bütçe Bilgileri";
}

<br />
<h2>Bütçe Bilgileri</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-danger fa fa-tasks"> Bütçe Bilgisi Ekle</a>
</p>
<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th>
                    Yıl
                </th>
                <th>
                    Açıklama
                </th>
                <th>
                    Link
                </th>

                <th>Güncelle</th>
                <th>Detay</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ButceBilgileriKategori.YilKategori)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.ActionLink(" Güncelle", "Edit", new { id = item.ID }, new { @class = "btn btn-default fas fa-edit   guncellemebuton", style = "border: 2px solid green;" })
                    </td>
                    <td>
                        @Html.ActionLink(" Detay", "Details", new { id = item.ID }, new { @class = "btn  btn-default fas fa-info detaylamabuton", style = "border: 2px solid #39ded8;" })
                    </td>
                    <td>
                        @Html.ActionLink(" Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-default fas fa-trash-alt silmebuton", style = "border: 2px solid red;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .guncellemebuton {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        color: #00ff21;
    }

        .guncellemebuton:hover {
            background-color: #851111;
            color: white;
        }

    .detaylamabuton {
        -webkit-transition-duration: 0.4s;
        color: #39ded8;
        transition-duration: 0.4s;
    }

        .detaylamabuton:hover {
            background-color: #1e4e4c;
            color: white;
        }

    .silmebuton {
        -webkit-transition-duration: 0.4s;
        color: red;
        transition-duration: 0.4s;
    }

        .silmebuton:hover {
            background-color: red;
            color: white;
        }
</style>